.img {
    width: 240px !important;
}
.head {
    font-size: 64px !important;
    font-family: 'Montserrat', sans-serif;
}
.bgColor {
    background-color: #1abc9c !important;
    height: 100vh;
}
.portfolioHead {
    font-size: 48px !important;
}